# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
venv_intranet/
.env
.env.*
!.env.example
*.env

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Logs
*.log
logs/

# GSF Agent local config
agentes/inventario_ti/config.json
agentes/inventario_ti/build/
agentes/inventario_ti/dist/
agentes/inventario_ti/GSFAgent.spec

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.bak
*.tmp
*.swp

# Uploads/importações internas
uploads/
imports/
