<div class="gsf-table-card">

  {% if table_title or table_description %}
    <div class="gsf-table-header">
      <div>
        {% if table_title %}
          <h2>{{ table_title }}</h2>
        {% endif %}

        {% if table_description %}
          <p>{{ table_description }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="gsf-table-wrap">
    <table class="gsf-table">
      <thead>
        <tr>
          {% for coluna in colunas %}
            <th>{{ coluna }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% block table_rows %}
        {% endblock %}
      </tbody>
    </table>
  </div>

</div>